- name: Install Dependencies
        run: |
          pip install requests beautifulsoup4

      # === YE DEBUGGING STEP ADD KAREIN ===
      - name: Debug File List
        run: ls -R
      # ====================================

      - name: Run Spider Script
        run: |
          python newsscraper/spider.py
